#board
{
    display: flex;
    flex-wrap: wrap;
}
.box /* Standart box, non-clicked and didn't check if verified or not*/
{
    width: 80px;
    height: 80px;
    border: 1px inset red;
    background-color: rgb(255, 0, 149);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
}
.box-clicked /*Style of the box when it is clicked and valid*/
{
    background-color: #ccc;
    color: #aaa;
}
.box-valid
{
    background-color: rgb(0, 132, 255);
    color:rgb(238, 255, 113);
    transform: rotate(360deg);
    transition: 1s;
}
@keyframes appear /*controls the intermediate steps in a CSS animation sequence by defining styles for keyframes (or waypoints) along the animation sequence.
                                    This gives more control over the intermediate steps of the animation sequence than transitions.*/
{
    from
    {
        transform: scale(0) rotate(180deg);
    }
    to
    {
        transform: scale(1) rotate(0deg);
    }
}