#board
{
    display: flex;
    flex-wrap: wrap;
}
.box /* Standart box, non-clicked and didn't check if verified or not*/
{
    width: 80px;
    height: 80px;
    border: 1px inset red;
    background-color: azure;
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
}
.box-clicked /*Style of the box when it is clicked and valid*/
{
    background-color: #ccc;
    color: #aaa;
}
@keyframes appear
{
    from
    {
        transform: scale(0) rotate(180deg);
    }
    to
    {
        transform: scale(0) rotate(0deg);
    }
}